:root {
  --title-color: #2E2F42;
  --accent-color: #404BBF;
  --subtitle-text: #434455;
  --active-links: #4D5AE5; 
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
}

.list{
  list-style: none;
}

/**-----------HEADER-----------**/

/* .header {
} */

/* .header-navigation {
  
} */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-color);
}

.header-logo span { 
  color: var(--active-links);
}

.header-menu {
  list-style-type: none;
} 

.header-menu-item {

}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

/* BTN */

.header-menu-link:hover,
.header-menu-link:focus{
  color: var(--accent-color);
}

/* CONTACT */

.contact {
  
}
.address-list {
  list-style: none;
}
.address-item {
  
}
.address-link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/**---------- HERO -----------**/

.hero {
  width: 1440px;
  height: 600px;
  background: #2E2F42;
}
.hero-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 9.33;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.btn {
  font-family: "Roboto", sans-serif;
  width: 169px;
  height: 56px;
  background: var(--active-links);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  }

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

/**---------- FEATURE -----------**/

.features {

}

.feature-item {

}
.feature-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
} 

.feature-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
}

/**---------- SKILLS -----------**/

.skills {

}
.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.skills-list {

}
.skills-item {

}
.skills-img {
  border: 1px solid #E7E9FC;
}

/**---------- TEAM -----------**/

.team {
  background: #F4F4FD;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-list {

}

.team-item {
  width: 264px;
  height: 380px;
  left: 156px;
  top: 1780px;  
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}


.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
}

/**---------- FOOTER -----------**/

.footer {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background: #2E2F42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #F4F4FD;
}

.footer-logo span {
  color: var(--active-links);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}

/**=========== PORTFOLIO ===========**/

.portfolio-btn {
  list-style: none;
}
.info-btn {
  
}

/**------- BTN ---------**/

.btn-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 116px;
  height: 48px;
  background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
}

.btn-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 69px;
  height: 48px;
  color: #FFFFFF;
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-app {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--active-links);
  cursor: pointer;
  width: 78px;
  height: 48px;
  background: #F4F4FD;
  border: 1px solid #E7E9FC;
  color: var(--active-links);
  border-radius: 4px;
}

.btn-link:hover,
.btn-link:focus {
  color: #FFFFFF;
  background: var(--active-links);
}
.btn-all:hover,
.btn-all:focus {
  color: #FFFFFF;
  background: var(--active-links);
}
.btn-app:hover,
.btn-app:focus {
  color: #FFFFFF;
  background: var(--active-links);
}

/**----- PORTFOLIO -----**/

.portfolio {

}
.portfolio-list {
  list-style: none;
}
.portfolio-item {
  width: 360px;
  height: 420px;
  left: 156px;
  top: 288px;
  background: #FFFFFF;
  border: 1px solid #E7E9FC;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-text);
}